/* font */
/* Krub-300 */
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: 300;
  src: local("Krub"),
  url("/fonts/Krub-Light.ttf") format("truetype");
}

/* Krub-400 */
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: 400;
  src: local("Krub"),
  url("/fonts/Krub-Regular.ttf") format("truetype");
}

/* Krub-500 */
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: 500;
  src: local("Krub"),
  url("/fonts/Krub-Medium.ttf") format("truetype");
}

/* Krub-600 */
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: 600;
  src: local("Krub"),
  url("/fonts/Krub-SemiBold.ttf") format("truetype");
}

/* Krub-700 */
@font-face {
  font-family: "Krub";
  font-style: normal;
  font-weight: 700;
  src: local("Krub"),
  url("/fonts/Krub-Bold.ttf") format("truetype");
}


/* Rubik-400 */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"),
  url("/fonts/Rubik-Regular.ttf") format("truetype");
}
/* Rubik-500 */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local("Rubik"),
  url("/fonts/Rubik-Medium.ttf") format("truetype");
}
/* Rubik-600 */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: local("Rubik"),
  url("/fonts/Rubik-SemiBold.ttf") format("truetype");
}
/* Rubik-700 */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local("Rubik"),
  url("/fonts/Rubik-Bold.ttf") format("truetype");
}

/* breakpoint */
$breakpoints: (
        "phone-small": 375px,
        "phone-medium": 425px,
        "phone": 768px,
        "ipad": 992px,
        "pc": 1400px,
        "pc-large": 1920px,
        "pc-ultra": 2560px,
);

/* color */
$primary: #091242;
