/* font */

/* Saira-400 */
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 400;
  src: local("Saira"),
  url("/fonts/Saira-Regular.ttf") format("truetype");
}

/* Saira-500 */
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 500;
  src: local("Saira"),
  url("/fonts/Saira-Medium.ttf") format("truetype");
}

/* Saira-600 */
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 600;
  src: local("Saira"),
  url("/fonts/Saira-SemiBold.ttf") format("truetype");
}

/* Saira-700 */
@font-face {
  font-family: "Saira";
  font-style: normal;
  font-weight: 700;
  src: local("Saira"),
  url("/fonts/Saira-Bold.ttf") format("truetype");
}

/* Rowdies-400 */
@font-face {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  src: local("Rowdies"),
  url("/fonts/Rowdies-Regular.ttf") format("truetype");
}

/* Rowdies-700 */
@font-face {
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 700;
  src: local("Rowdies"),
  url("/fonts/Rowdies-Bold.ttf") format("truetype");
}

/* breakpoint */
$breakpoints: (
        "phone-small": 375px,
        "phone-medium": 425px,
        "phone": 768px,
        "ipad": 992px,
        "pc": 1400px,
        "pc-large": 1920px,
        "pc-ultra": 2560px,
);

/* color */
$primary: #2AAA94;
